<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508454382613-euh5mlt7eq040ue8movu5cmkvat3flpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508454382613-euh5mlt7eq040ue8movu5cmkvat3flpl</string>
	<key>API_KEY</key>
	<string>AIzaSyAGzIXmPOsTpwxLP_F7jrWVgZ8vLnY3_aA</string>
	<key>GCM_SENDER_ID</key>
	<string>508454382613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericgrant.MySimpleChat</string>
	<key>PROJECT_ID</key>
	<string>mysimplechat-77dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>mysimplechat-77dc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508454382613:ios:3d056039f9be9e227fb21c</string>
	<key>DATABASE_URL</key>
	<string>https://mysimplechat-77dc4.firebaseio.com</string>
</dict>
</plist>